# Python cache files
__pycache__/

# Python distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp

# Dependency directories
lib/
lib64/

# generated audio files
samples/*

# react build files
build/*

# react node modules
speech_app/node_modules/*
speech_app/package-lock.json

# ignore react cors server for testing
cors-server/*

# ignore models
models/*