# Python cache files
__pycache__/

# Python distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.swp
*.swo
*.tmp

# Dependency directories
lib/
lib64/

# generated audio files
samples/*