torch
transformers
datasets
librosa
# sudo apt-get install libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0
# sudo apt-get install ffmpeg libav-tools
pyaudio
wave
pygame
soundfile
sentencepiece
# MoviePy
# pydub
flask
flask_cors

# LLM
langchain
gpt4all